.page-container {
	text-align: center;
    border: 3px solid green;
}

.result-container { /* csslint allow: empty-rules */
	/*text-align: center;
    border: 3px solid blue;
    */
}

.send-button-container2 {
	text-align: center;
    border: 3px solid green; 
    width: 100%;
}

html {
    font-size:12px;
}

body {
    font-family: 'Open Sans Regular', Verdana, sans-serif;
    color: #333;
    padding:20px 10% 20px 10%;
}

.chat {
    border-radius: 15px;
    padding:30px;
    border:7px solid green;
}

h2 {
    font-size:2em;
    margin-bottom:30px;
}

label {
    font-weight:bold;
    color: #c0c0c0;
    font-size:1.25em;
}
  
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 30px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type=submit] {
    width: 100%;
    background-color: #ffdd55;
    color: #333;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:16px;
}

input[type=submit]:hover {
    background-color: #e8c63f;
}

#conversation_output {
    display:none;
    background:#f9f9f9;
    padding:2em;
}


.messages {
    font-family: 'Open Sans Regular', Verdana, sans-serif;
    color: #333;
    border: 2px solid green;
}

.segments {
	margin-top: 1em;
	margin-bottom: 1em;
}

.load .message-inner {
  opacity: 1;
  margin-top: 0.3125rem;
}


.from-user {
  text-align: right;
	margin-right:1em;
}

.from-user.latest {
	margin-top:2em;
}

.from-user .message-inner {
  position: relative;
  font-size: 1.5rem;
  color: #eee;
  letter-spacing: 0.015rem;
  line-height: 2.0rem;
  background: green; /* #053668;  #659900; */
  border-radius: 1.25rem;
  border-bottom-right-radius: 0;
  text-align: left;
  display: inline-block;
  margin-left: 2.5rem;
  min-width: 2.5rem;
}
 
.from-user.latest .message-inner {
  background: green; /*#053668; /*053668*/
  color: #fff;
  font-size: 2.0rem;
  line-height: 2.5rem;
  border-radius: 1.75rem;
  margin-top:2em;
}

.from-user .message-inner p {
  margin: 0.3125rem;
  padding: 0 0.9375rem;
}

.from-user.latest .message-inner p {
  margin: 0.3125rem;
  padding: 0.25em 0.9375rem;
}

.from-user .message-inner:before, .from-user .message-inner:after {
  content: "";
  position: absolute;
}

/* This is the background rectangle */
.from-user .message-inner:before {
  z-index: -2;
  bottom: -1rem;
  right: 0;
  height: 1rem;
  width: 1rem;
  background: green; /* #053668; /* #4CAF50; */
}

/* This is the cut-out */
.from-user .message-inner:after {
  z-index: -1;
  bottom: -1rem;
  right: 0;
  height: 1rem;
  width: 1rem;
  background: #fff;
  border-top-right-radius: 1.25rem;
}

.from-user.latest .message-inner:before {
  z-index: -2;
  bottom: -1.25rem;
  right: 0;
  height: 3rem;
  width: 1.5rem;
  background: green; /*#053668;*/
}

.from-user.latest .message-inner:after {
  z-index: -1;
  bottom: -1.5rem;
  right: 0;
  height: 1.5rem;
  width: 1.5rem;
  background: #fff;
  border-top-right-radius: 10rem;
}

.from-watson .message-inner {
  position: relative;
  /* border-radius: 1.5625rem; */
  font-size: 1.5rem;
  color: #333333;
  letter-spacing: 0.015rem;
  line-height: 2.0rem;
  margin-top: 1em;
}

.from-watson.latest .message-inner {
  color: #000;
  font-size: 1.75rem;
  line-height: 2.25rem;
  border-left:5px solid #014d8b;
  margin-left:5px;
  margin-bottom:2em;
}

.from-watson p {
  margin: 0.3125rem;
  padding: 0 1.25rem;
}

XX.from-watson.latest.top p:before {
  content: ".";
  color: #9855D4;
  background-image: url("https://github.com/watson-developer-cloud/conversation-simple/blob/master/public/img/marker_image.png"); /* url("../../assets/img/marker_image.png"); */
  background-size: 0.5rem 2.5rem;
  position: absolute;
  z-index: 2;
  left: 0.4375rem;
  width: 0.3125rem;
  height: 2.5rem;
  line-height: 2.5rem;
}
